<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Image</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                <tr>
                    {{{any email}}}
                    {{{any name}}}
                    {{{ncheck phone}}}
                    {{{img image-url}}}
                    {{{green company}}}
                </tr>
            {{/each}}
        </tbody>

    </table>

</body>



